<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Status</title>
    {% load static %}
    <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'status.js' %}"></script>
</head>
<body>

<span>Hello {{ user_name }}, </span>{% if status %}<span id="database-status">
    you are on {{ status }}{% endif %}</span><span id="status"></span>

<form method="post" id="post-form" action="{% url 'status' %}">
    <input hidden name="status" value="{{ status }}">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <select data-url="{% url 'status' %}" id="status-select" name="status"
            onchange="updateStatus()">
        <option selected></option>
        <option value="Vacation">Vacation</option>
        <option value="Working">Working</option>
        <option value="Business_Trip">Business Trip</option>
    </select>
</form>
<table>
    <th>
    <td><input type="text" id="my-input" onkeyup="searchUser()"
               placeholder="Search for user.." title="Type in a name">
    </td>
    <td>
        <form method="post" id="filter-form" action="{% url 'filter' %}">
            <input type="hidden" name="csrfmiddlewaretoken"
                   value="{{ csrf_token }}">
            <select data-url="{% url 'filter' %}" id="filter" name="status"
                    onchange="filterByStatus()">
                <option selected>Filter By Status</option>
                <option value="Vacation">Vacation</option>
                <option value="Working">Working</option>
                <option value="Business_Trip">Business Trip</option>
            </select>
        </form>
    </td>
    </th>
</table>


<ul id="my-ul">
    {% for user in User %}
        <li><a href="#"><span id="{{ user.user_profile.user_name }}"
                              class="User"><span
                id="user-name-{{ user.user_profile.user_name }}"
                class="user-name">{{ user.user_profile.user_name }} </span><span
                id="user-status-{{ user.user_profile.user_name }}">{% if user.status %}
            ({{ user.status }}){% endif %}</span></span></li>
    {% endfor %}
</ul>
</body>
</html>
